/*Standard Reset*/
body, html {
  margin: 0;
  padding: 0;
}

/*Parallax Classes That Transform Browser Into a Simulated 3D Environment*/
.parallax {
  height: 100vh;
  perspective: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

/* Think of these layers as workspaces oriented along the Z-Axis.
They are listed From front to back. I have added background colors
so if you want to see where the boundaries of each are simply
'uncomment out' the background-color. */
.foreground {
  transform: translateZ(.5px) scale(.6);
  /*background-color: white;*/
}

.base {
  transform: translateZ(0);
  /*background-color: gray;*/
}

.back {
  transform: translateZ(-2px) scale(3);
  /*background-color: orange;*/
}

.background {
  top: 0;
  left: 0;
  right: 0;
  background: url(images/website-background-blank.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: black;*/
}

.deep-background {
  transform: translateZ(-3.5px) scale(4.6);
  height: 190vh;
  width: 100vw;
  background-size: cover;
  background-image: url(images/space.jpg);
  background-position-y: -250px;
  background-repeat: no-repeat;
}

/*Positioning of Individual Elements*/
.saturn-position {
  position: absolute;
  top: -700px;
  right: 5%;
  opacity: .7 height: auto;
  width: 30vw;
}

.moon-position {
  position: absolute;
  top: -30px;
  left: -10%;
  height: auto;
  width: 35vw;
}

.sun-position {
  position: absolute;
  top: 65%;
  right: -6%;
  height: auto;
  width: 50vw;
}

.ISS-position {
  position: absolute;
  top: 760px;
  left: 16%;
  height: auto;
  width: 40vw;
}

.cloud1 {
  position: absolute;
  height: auto;
  width: 35vw;
  left: 59%;
  opacity: .7;
}

.cloud2 {
  position: absolute;
  height: auto;
  width: 45vw;
  left: -10%;
  top: 200px;
  opacity: .7;
}

.cloud3 {
  position: absolute;
  height: auto;
  width: 40vw;
  left: 50%;
  top: 420px;
  opacity: .7;
}

.cloud4 {
  position: absolute;
  height: auto;
  width: 45vw;
  left: 10%;
  top: 500px;
  opacity: .7;
}

@media all and (max-width: 1401px) {
  .website-background {
    top: 0px;
    left: 0;
    right: 0;
    background: url(images/website-background-blank.png) center center;
    background-size: cover;
  }
  .space {
    transform: translateZ(-3.5px) scale(4.6);
    height: 230vh;
    width: 100vw;
    background-size: cover;
    background-image: url(images/space.jpg);
    background-position-y: -250px;
    background-repeat: no-repeat;
  }
}
